.lodgingContainer {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 2% 5%;
  margin-bottom: 4rem;
  min-height: calc(100vh - 194px);
}
@media only screen and (min-width: 1240px) {
  .lodgingContainer {
    margin: -6px 5%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }
}

.title {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 500;
  margin-top: -10px;
  line-height: 26px;
}
@media only screen and (min-width: 1240px) {
  .title {
    font-size: 36px;
    margin-top: 35px;
  }
}

.location {
  color: var(--primary-color);
  font-size: 14px;
  margin-top: -7px;
  font-weight: 500;
}
@media only screen and (min-width: 1240px) {
  .location {
    font-size: 18px;
    margin-top: -14px;
  }
}

.ratingAndHost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -5px;
  line-height: 22px;
}
@media only screen and (min-width: 1240px) {
  .ratingAndHost {
    position: absolute;
    flex-direction: column-reverse;
    align-items: flex-end;
    right: 0px;
    top: 430px;
  }
}

@media only screen and (min-width: 1440px) {
  .collapsideContainers {
    display: flex;
    flex-direction: row;
    gap: 76px;
  }
}
