.leftArrow,
.rightArrow {
  position: absolute;
  top: 38%;
  transform: translate(0, -50%);
  font-size: 45px;
  color: blue;
  z-index: 1;
  cursor: pointer;
  scale: 25%;
}
@media only screen and (min-width: 1240px) {
  .leftArrow,
  .rightArrow {
    scale: 100%;
    top: 50%;
  }
}

.leftArrow {
  left: -12px;
}
@media only screen and (min-width: 1240px) {
  .leftArrow {
    left: 25px;
  }
}

.rightArrow {
  right: -12px;
}
@media only screen and (min-width: 1240px) {
  .rightArrow {
    right: 25px;
  }
}
