.tagsContainers {
  display: flex;
  flex-wrap: wrap;
  margin-top: -4px;
}
@media only screen and (min-width: 1240px) {
  .tagsContainers {
    margin-top: 24px;
  }
}

.lodgingTags {
  background-color: var(--primary-color);
  border-radius: 7px;
  color: var(--secondary-color);
  padding: 0px 10px;
  margin-right: 10px;
  margin-bottom: 8px;
  min-width: 64px;
  text-align: center;
}
@media only screen and (min-width: 1240px) {
  .lodgingTags {
    border-radius: 10px;
    padding: 4px 10px;
    min-width: 115px;
  }
}

.tag {
  margin: 0;
  font-size: 10px;
  font-weight: 500;
}
@media only screen and (min-width: 1240px) {
  .tag {
    font-size: 14px;
  }
}
