.collapse {
  margin-bottom: 20px;
}
@media only screen and (min-width: 1240px) {
  .collapse {
    margin-top: 16px;
  }
}

.button {
  position: relative;
  color: var(--secondary-color);
  width: 100%;
  height: 30px;
  border: none;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
@media only screen and (min-width: 1240px) {
  .button {
    border-radius: 10px;
    font-size: 18px;
    min-width: 582px;
    height: 52px;
    padding-left: 20px;
  }
}

.buttonAbout {
  position: relative;
  color: var(--secondary-color);
  width: 100%;
  height: 30px;
  border: none;
  font-size: 13px;
  font-weight: 500;
  border-radius: 5px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
@media only screen and (min-width: 1240px) {
  .buttonAbout {
    border-radius: 5px;
    font-size: 24px;
    min-width: 582px;
    height: 47px;
    padding-left: 20px;
  }
}

.arrow {
  scale: 60%;
}
@media only screen and (min-width: 1240px) {
  .arrow {
    scale: 100%;
    margin-right: 10px;
  }
}

.contentShow {
  height: auto;
  overflow: hidden;
  min-height: 140px;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  border-radius: 5px;
}
@media only screen and (min-width: 1240px) {
  .contentShow {
    min-height: 230px;
    margin-top: -6px;
    border-radius: 10px;
  }
}

.contentShowAbout {
  height: auto;
  overflow: hidden;
  min-height: 140px;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  border-radius: 5px;
}
@media only screen and (min-width: 1240px) {
  .contentShowAbout {
    min-height: none;
    height: none;
    margin-top: -6px;
    padding-bottom: 5px;
    margin-bottom: 35px;
  }
}

.content {
  padding: 9.6px;
  padding-bottom: 0;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  list-style-type: none;
}
@media only screen and (min-width: 1240px) {
  .content {
    font-size: 18px;
    line-height: 25px;
    margin-top: 15px;
    padding: 20px;
  }
}

.contentAbout {
  padding: 9.6px;
  padding-bottom: 0;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  list-style-type: none;
}
@media only screen and (min-width: 1240px) {
  .contentAbout {
    font-size: 24px;
    line-height: 34px;
    margin-top: 15px;
    padding: 20px;
    padding-bottom: 0;
  }
}
