.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
  padding-bottom: 18px;
}
@media only screen and (min-width: 1240px) {
  .header {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4%;
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5%;
  padding-bottom: 18px;
}
@media only screen and (min-width: 1240px) {
  .header {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4%;
  }
}

.logo {
  margin-left: 0;
  margin-top: 0;
}
@media only screen and (min-width: 1240px) {
  .logo {
    scale: 140%;
    margin-left: 28px;
  }
}

.logo img {
  margin-left: 0.1rem;
  margin-right: 0.2rem;
}

.house {
  margin-bottom: -0.2rem;
}

.list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 12px;
  gap: 1rem;
  margin-top: 18px;
  padding-left: 0;
}
@media only screen and (min-width: 1240px) {
  .list {
    font-size: 24px;
    text-transform: none;
    gap: 4rem;
    margin-top: 8px;
  }
}

.list a {
  text-decoration: none;
  color: var(--primary-color);
}

.list a:hover {
  text-decoration: underline;
}

.logo {
  margin-left: 0;
  margin-top: 0;
}
@media only screen and (min-width: 1240px) {
  .logo {
    scale: 140%;
    margin-left: 28px;
  }
}

.logo img {
  margin-left: 0.1rem;
  margin-right: 0.2rem;
}

.house {
  margin-bottom: -0.2rem;
}

.list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 12px;
  gap: 1rem;
  margin-top: 18px;
  padding-left: 0;
}
@media only screen and (min-width: 1240px) {
  .list {
    font-size: 24px;
    text-transform: none;
    gap: 4rem;
    margin-top: 8px;
  }
}

.list a {
  text-decoration: none;
  color: var(--primary-color);
}

.list a:hover {
  text-decoration: underline;
}
